/*reset css*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/*nav-bar*/
.navbar-list {
	display: flex;
    justify-content: center;
	align-items: center;
	list-style: none;
	background-color: black;
	padding: 15px 0 10px 0;
	color: #fff;
}

.navbar-list img{
	width: 270px;
}

.navbar-list a{
	color: inherit;
	font-size: 16px;
	text-decoration: none;
	margin-top: 20px;
	cursor: pointer;
}

.navbar-list li {
    margin-right: 20px;
}

.navbar-list .srch{
	margin-bottom: 0;
	margin-left: 3px;
	font-size: 20px;
}

.nav ul li a:hover:not(.active){
	border-radius: 4px;
	border: 2px solid #F8CD26;
}

.navbar-list a:hover{
	color: #FFD400;
}

/* css từng elements trên navbar */
nav ul li:nth-child(3) i{
    color: #FFD400;
    position: relative;
    bottom: 4px;
}

.hcm {
    color: #FFD400;
}

nav ul li:nth-child(2) input {
    height: 35px;
    width: 250px;
    border-radius: 3px;
    border: none;
    padding-left: 10px;
}

nav ul li:nth-child(2) i {
    position: relative;
    font-size: 20px;
    color: #333;
    cursor: pointer;
    right: 32px;
    top: 4px;
}

nav ul li:nth-child(5) a{
    padding: 10px;
	border: 1px solid transparent;  
}

nav ul li:nth-child(4) a{
    padding: 10px;
	border: 1px solid transparent;  
}


nav ul li:nth-child(4) a:hover {
    background-color: #333;
    border: 1px solid #FFD400;
    border-radius: 3px;
}

nav ul li:nth-child(5) a:hover {
    background-color: #333;
    border: 1px solid #FFD400;
    border-radius: 3px;
}

nav ul li:nth-child(6) i {
	font-size: 18px;
    margin-right: 5px;
    position: relative;
}

nav ul li:nth-child(6) a{
    text-align: center;
}

.user-afterLog {
	font-size: 18px;
    margin-right: 5px;
    position: relative;
}

/*phan loai*/
.brand-list img{
	width: 80px;
	height: 20px;
}

/*note: use display: flex for img inside anchor tag*/
.brand-list a{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid transparent;
	padding: 5px 10px;
	margin: 10px 10px;
	border-radius: 20px;
	background-color: #fff;
	transition: .2s;
}

.brand-list{
	display: flex;
	align-items: center;
	width: 90%;
	padding: 5px 0 5px 0;
	margin-top: 10px;
	margin-bottom: 10px;
	margin: 10px auto;
}

.brand-list a:hover{
	border: 3px solid #F8CD26;
}

/*list san pham*/
.product-one {
	margin: auto;
	width: 90%;
	padding: 12px;
}

.product-one h2{
	margin: 0 0 10px 18px;
}

.product-row{
	display: flex;
	flex-direction: row;
	margin: 10px;
}

.product-one-content-item1:hover img {
	transform: translateY(-10px);
}

.product-one-content-item1 {
	color: #333333;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	width: 20%;
	padding: 30px 12px 12px 12px;
	margin: 0 8px;
	background-color: white;
	border-radius: 8px;
}

.product-one-content-item1 img {
	width: 100%;
	transition: 0.2s;
}

ul {
	list-style: none;
	padding-left: 0px;
}

.product-name{
	font-weight: 600;
}
.product-one-content-item1 li:first-child {
	color: #fff;
	font-size: 11px;
	height: 20px;
	width: 60%;
	line-height: 20px;
	padding-top: 1.5px;
	background-image: linear-gradient(to left, #1C6FC2 , #35A0E7);
	text-align: center;
	border-radius: 40px;
}

.product-one-content-text {
	padding-top: 20px;
}

.product-one-star {
	color: #FA6D2B;
	font-size: 11px;
	margin-top: 10px;
}

.product-one-content-text li {
	margin-bottom: 5px;
}

.product-one-configuration {
	font-size: 12.5px;
	padding-bottom: 5px;
}

/*phan trang*/
.pagination{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
}

.pagination a{
	text-decoration: none;
	padding: 10px 13px;
	margin: 2px;
	color: black;
	/*not reset display att for anchor here, anchor will stack on the div block above*/
	display: inline-block; 
	border: 2px solid transparent;  
}

.pagination a.active{
	background-color: #FFC801;
	font-weight: bold;
	border-radius: 4px;

}

.pagination a:hover:not(.active){
	border-radius: 4px;
	border: 2px solid #FFC801;
}

/*footer*/
footer{
	text-align: center;
	padding: 10px;
	margin-top: auto;
	background-color: #F8CD26;
}